@import "../style";

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #FFFFFF75 46%, #ff6a0075 46%, #FFBB9775 46%);
    /* 414px x 896px */
    padding: 20px;
}

/* Headline */
h1 {
    font-weight: bold;
    margin: 3% 0;
    font-size: 32px;
}

/* Title */
h2 {
    margin: 3% 0;
    font-size: 22px;
    font-weight: normal;
}

/* Subtitle */
h3 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

/* Body */
p {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    width: 370px;
}


#tarjetas-sintomas h1 {
    color: white;
}

#tarjetas-sintomas h3 {
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}

#tarjetas-sintomas p {
    color: white;
    margin-bottom: 2%;
}

#tarjetas-sintomas img {
    width: 30%;
    height: 30%;
    /* Para que margin auto funcione correctamente */
    display: block;
    /* Centra la imagen horizontalmente */
    margin: 5% auto;

}

#tarjetas-sintomas {
    margin-bottom: 1%;
    background-color: red;
    /* arriba | derecha | abajo | izquierda */
    padding: 2%;
    border-radius: 10px;
    margin-top: 15px;
}