@import "../style";

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: flex-start;
  width: inherit;

  div {
    display: flex;
    align-items: center;
    margin: 50px 30px;
    gap: 10px;

    a {
      text-decoration: none;

      h3 {
        color: $ColorSurface;
      }
    }
  }
}

#formulario {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  div {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      width: 28px;
      fill: $ColorOnSurface;
    }
  }

  h3 {
    width: max-content;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
      width: 290px;
    }
  }
}

footer {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  button {
    width: 290px;
  }

}

#gradiente {
  z-index: -2;
  position: absolute;
  top: 0;
  width: 100%;

  img {
    width: 100%;
  }
}

#huellas-caninas {
  z-index: -1;
  position: absolute;
  top: 0;
  margin-bottom: 40px;
  width: 100%;

  img {
    width: 100%;
  }
}