#consejos-cuidado {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 15px;
  padding-bottom: 20px;

  .lista-consejos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;

    .columna-1, .columna-2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}