@import "../style";

.boton-c-primary {
  background: $ColorPrimary;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: $ColorSurface;
  font-family: $font-family;
  font-size: 14px;
}

.boton-c-on-surface {
  background: $ColorOnSurface;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: $ColorSurface;
  font-family: $font-family;
  font-size: 14px;
}

.boton-c-emergencia {
  background: #ff393c;
  padding: 5px 20px;
  border-radius: 20px;
  border: none;
  color: $ColorSurface;
  font-family: $font-family;
  font-size: 14px;
  text-decoration: none;
}

.tag {
  padding: 3px 10px;
  border-radius: 5px;
  border: solid 1px $ColorSurface;
  color: $ColorSurface;
  font-family: $font-family;
}

.boton-sintomas {
  background: $ColorSurface;
  padding: 5px 20px;
  border-radius: 20px;
  border: none;
  color: $ColorOnSurface;
  font-family: $font-family;
  font-size: 14px;
}
